@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
html{
    font-size: 65.5%;
}
:root{
    --main-color: #d30d0d;
    --text-color:#141622;
}

/* top header section start  */
.top-header .out-box{
    width: 100%;
    background: var(--main-color);
}
.top-header .out-box .inside-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-color);
    padding: 1rem 0;
    clip-path: polygon(8% 0,92% 0,96% 100%,5% 100%);
}
.out-box .inside-box .col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    margin-left: 13rem;
}
.out-box .inside-box .col-1 span{
    font-size: 1.5rem;
}
.out-box .inside-box .col-1 span i{
    color: var(--main-color);
    padding-right: 0.5rem;
    font-size: 1.3rem;
}

.out-box .inside-box .col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
    margin-right: 13rem;
}
.out-box .inside-box .col-2 a,
.out-box .inside-box .col-2 span,
.out-box .inside-box .col-2 .social i{
    color: #fff;
    font-size: 1.5rem;
    transition: 0.4s;
}
.out-box .inside-box .col-2 .social{
    display: flex;
    gap: 0.9rem;
}
.out-box .inside-box .col-2 a i{
    padding-right: 0.5rem;
}
.out-box .inside-box .col-2 .social i:hover,
.out-box .inside-box .col-2 a:hover{
    color: var(--main-color);
}

/* media query  */
@media screen and (max-width:1150px){
    .out-box .inside-box .col-1{
        margin-left: 8rem;
    }
    .out-box .inside-box .col-2{
        margin-right: 8rem;
    }
}
@media screen and (max-width:991px){
    .top-header{
        display: none;
    }
}

/* navbar section start  */

.header{
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 7.5%;
    background: #fff;
    box-shadow: 0 0 5px rgba(190,190,190,0.5),
    0 0 10px rgba(190,190,190,0.5);
    z-index: 999;
    transition: 0.4s ease;
}
.header.sticky{
    padding: 0 7.5%;
}
.header .logo img{
    width: 200px;
}
.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav .navbar ul li{
    padding: 2.5rem 0.5rem;
}

nav .navbar .navLink{
   display: flex; 
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   position: relative;
}
nav .navbar .navLink li a{
    color: var(--text-color);
    font-size: 1.7rem;
    font-weight: 600;
    position: relative;
}
nav .others{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
nav .others i{
    font-size: 1.9rem;
    color: var(--text-color);
    cursor: pointer;
}
nav .others .addBtn{
    position: relative;
    color: #fff;
    background: var(--main-color);
    padding: 1.5rem 1.7rem;
    font-size: 1.6rem;
    border-radius: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.7s;
}
nav .others .addBtn:hover{
    background: var(--text-color);
    color: #fff;
}
nav .others .addBtn i,
nav .others .addBtn i:hover{
    color: #fff;
    padding-right: 0.5rem;
}
#menuBtn{
    font-size: 3.5rem;
}
nav .navbar ul li:hover,
nav .others i:hover{
    color: var(--main-color);
}
nav .navbar ul li a:hover,
nav .navbar ul li a.active{
    color: var(--main-color);
}
nav .navbar ul li .drop-down{
    position: absolute;
    top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    width: 180px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190,190,190,0.5);
    padding: 1rem 0 0;
    display: none;
}
nav .navbar li:hover .drop-down{
    display: flex;
}
nav .navbar ul li .drop-down li{
    border-bottom: 1px solid rgba(190,190,190,0.5);
    padding: 0.5rem 0 1rem 1rem;
    z-index: 100;
    overflow: hidden;
}
nav .navbar ul li .drop-down li a{
    font-size: 1.5rem;
    transition: 0.4s ease;
}
nav .navbar ul li .drop-down li:hover a{
    padding-left: 0.5rem;
}
.drop-down li .drop-down-seven,
.drop-down li .drop-down-six,
.drop-down li .drop-down-five,
.drop-down li .drop-down-four,
.drop-down li .drop-down-three,
.drop-down li .drop-down-two{
    width: 180px;
    position: absolute;
    left: 180px;
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: justify;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(190,190,190,0.5);
    padding: 1rem 0 0;
    z-index: 111;
    overflow: hidden;
    display: none;
}
.drop-down li:hover .drop-down-seven,
.drop-down li:hover .drop-down-six,
.drop-down li:hover .drop-down-five,
.drop-down li:hover .drop-down-four,
.drop-down li:hover .drop-down-three,
.drop-down li:hover .drop-down-two{
    display: flex;
}
.drop-down li .chev{
    position: absolute;
    left: 150px;
    top: 5px;
    color: var(--text-color);
}
.drop-down li:hover .chev{
    color: var(--main-color);
}
 /* media query  */
 @media screen and (max-width:1370px){
    nav .navbar ul li{
        padding: 2.5rem 0;
    }
    nav .others {
        gap: 1rem;
    }
    nav .navbar .navLink{
        gap: 1rem;
    }
 }

 @media screen and (max-width:1190px){
    nav .others .addBtn{
        display: none;
    }
 }
 @media screen and (max-width:991px){
    nav .navbar .navLink{
        display: none;
        position: absolute;
        top: 5.3rem;
        width: 100%;
        left: 0;
        background: #fff;
        box-shadow: 0 0 5px rgba(190,190,190,0.5),
        0 0 10px rgba(190,190,190,0.5);
        padding-left: 30px;
        transition: 1s ease;
    }
    nav .navbar .navLink.active{
        display: block;
    }
    .header.sticky{
        padding: 0.6rem 7.5%;
    }
    nav .navbar ul li{
        padding: 1rem 0;
    }
    nav .navbar ul li .drop-down{
        position: static;
        display: none;
    }
    .drop-down li:hover .drop-down-seven,
.drop-down li:hover .drop-down-six,
.drop-down li:hover .drop-down-five,
.drop-down li:hover .drop-down-four,
.drop-down li:hover .drop-down-three,
.drop-down li:hover .drop-down-two{
    position: sticky;
    margin-top: 0;
}
    nav .others i.cart{
        display: none;
    }
 }
 @media screen and (max-width:420px){
    .header .logo img{
        width: 120px;
    }
    nav .navbar .navLink{
        top: 4.6rem;
    }
 }
/* navbar section end  */

/* hero section start  */

.home .slide{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 15rem;
}
.home .slide.slide-one{
    background: linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(0,0,0,0.8),rgb(255,0,0)),url('https://live.themewild.com/motob/assets/img/slider/slider-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .slide.slide-two{
    background: linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(0,0,0,0.8),rgb(235,235,37)),url('https://live.themewild.com/motob/assets/img/slider/slider-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .slide.slide-three{
    background: linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(0,0,0,0.8),rgb(43,171,235)),url('https://live.themewild.com/motob/assets/img/slider/slider-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.home .slide .col-1{
    flex: 1 1 20rem;
}
.home .slide .col-2{
    flex: 1 1 40rem;
    padding-top: 3rem;
}
.home .slide .col-2 img{
    width: 100%;
}
.home .slide .col-1 h4{
    font-size: 2.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-bottom: 3rem;
}
.home .slide .col-1 h1{
    color: #fff;
    font-size: 4.2rem;
    text-transform: capitalize;
    letter-spacing: 3px;
}
.home .slide .col-1 h1 span{
    color: var(--main-color);
}
.home .slide .col-1 p{
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 2px;
    padding-top: 2rem;
}
.home .slide .col-1 .button{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 4rem;
}
.home .slide .col-1 .button button{
    padding: 1.8rem 2.9rem 1.8rem 1.5rem;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
}
.home .slide .col-1 .button button i{
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    right: 0.3rem;
    transform: translate(0,-50%);
}
.home .slide .col-1 .button button.about{
    background: var(--main-color);
    color: #fff;
}
.home .slide .col-1 .button button.learn{
    background: #fff;
    color: var(--main-color);
}
.home .slide .col-1 .button button.about:hover,
.home .slide .col-1 .button button.learn:hover{
    background: var(--text-color);
    color: #fff;
}
.home .swiper [class^="swiper-button"]{
    color: #fff;
    background: rgba(126, 125, 125, 0.5);
    border-radius: 50%;
    padding: 2.5rem;
}
.home .swiper [class^="swiper-button"]:hover{
    background:#fff;
    color: var(--main-color);
}
.home .swiper [class^="swiper-button"]::before{
    font-size: 2rem;
}

/* media query  */
@media screen and (max-width:1150px){
    .home .slide{
        height: auto;
        padding: 5rem 10rem;
        display: block;
    }
    .home .slide .col-2 img{
        width: 100%;
    }
}
@media screen and (max-width:600px){
    .home .slide{
        padding: 5rem 5rem;
    }
    .home .slide .col-1 h4{
        font-size: 2rem;
    }
    .home .slide .col-1 h1{
        font-size: 3.2rem;
    }
    .home .slide .col-1 .button button{
        padding: 1.5rem 2.8rem 1.5rem 1.5rem;
        font-size: 1rem;
    }
    .home .slide .col-1 .button button i{
        font-size: 2rem;
    }
    .home .slide .col-2 img{
        width: 100%;
    }
}
@media screen and (max-width:450px){
    .home .slide .col-1 h4{
        font-size: 1.3rem;
    }
    .home .slide .col-1 h1{
        font-size: 2rem;
    }
}
/* hero section end */

/* perfect section start  */

.search{
    position: relative;
    padding: 0 16rem;
    background: #f7f2f2;
}
.search .find{
    max-width: 1200px;
    width: 90%;
    padding: 2.5rem;
    position: absolute;
    top: -7rem;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 111;
    background: #fff;
    box-shadow: 0 0 5px rgba(190,190,190,0.5),
    0 0 10px rgba(190,190,190,0.5);
    overflow: hidden;
}
.find .find-row{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    gap: 3rem;
}
.find h3{
    font-size: 2.7rem;
    letter-spacing: 1px;
    padding-bottom: 2rem;
    font-weight: 500;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
.find .find-row h4{
    font-size: 1.7rem;
    color: var(--text-color);
    padding-bottom: 1.5rem;
}
.find .find-row select{
    border: 2px solid #646161;
    font-size: 1.5rem;
    width: 200px;
    font-weight: 500;
    height: 45px;
    padding: 0 1rem;
    color: #646161;
    width: 100%;
    border-radius: 1rem;
}
.find .find-row select:focus{
    border-color: var(--main-color);
}
.find .find-row select option{
    padding: 0.5rem;
    border-bottom: 1px solid #646161;
    border-radius: 1rem;
}
.search .search-btn button{
    background: var(--main-color);
    margin-top: 4rem;
    padding: 1.3rem 2rem;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s ease;
    width: 100%;
}
.search .search-btn button i{
    padding-right: 0.5rem;
}
.search .search-btn button:hover{
    background: var(--text-color);
}
@media screen and (max-width:991px){
.find .find-row{
    grid-template-columns: repeat(3,1fr);
}
}
@media screen and (max-width:767px){
.find .find-row{
    grid-template-columns: repeat(2,1fr);
}
}
@media screen and (max-width:575px){
.find .find-row{
    grid-template-columns: 1fr;
}
.find h3 {
    font-size: 1.8rem;
}
}
/* perfect section end */

/* market section start  */

section{
    padding: 2.5rem 8rem;
    background: #f7f2f2;
}
.market{
    padding-top: 35rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.market .col-3{
    flex: 1 1 20rem;
    position: relative;
}
.market .col-3 img.one{
    width: 100%;
    height: 45rem;
}
.market .col-4{
    flex: 1 1 20rem;
}
.market .col-3 .service{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #141622;
    padding: 1rem;
    border-radius: 20px;
}
.market .col-3 .service img.two{
    width: 80px;
}
.market .col-3 .service span{
    color: #fff;
    font-size: 1.6rem;
    text-transform: capitalize;
    font-weight: 600;
}
.market .col-4 h4{
    color: var(--main-color);
    font-size: 2rem;
    letter-spacing: 3px;
    font-weight: 500;
    padding-bottom: 1rem;
    font-family: 'Poppins',sans-serif;
}
.market .col-4 h4 i{
    padding-right: 0.5rem;
}
.market .col-4 h3{
    font-size: 4rem;
    color: var(--text-color);
    margin-bottom: 2rem;
    text-transform: capitalize;
}
.market .col-4 h3 span{
    color: var(--main-color);
}
.market .col-4 p{
    color: var(--text-color);
    padding-bottom: 1rem;
    font-size: 1.4rem;
}
.market .col-4 .p1{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.market .col-4 .p1 i{
    padding-right: 0.5rem;
    color: var(--main-color);
    font-size: 1.6rem;
}
.market .col-4 button{
    position: relative;
    margin-top: 2.5rem;
    background: var(--main-color);
    color: #fff;
    padding: 1.5rem 3.5rem;
    font-size: 1.6rem;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.market .col-4 button i{
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 2rem;
}
.market .col-4 button:hover{
    background: var(--text-color);
    color: var(--main-color);
}

@media screen and (max-width:991px){
    .market{
        padding-top: 40rem;
    }
    section{
        padding: 2.5rem 10rem;
    }
}
@media screen and (max-width:767px){
    .market{
        padding-top: 50rem;
    }
    section {
        padding: 2.5rem 5rem;
    }
    .market .col-4 h3 {
        font-size: 3rem;
    }
    .market .col-4 button {
        font-size: 1.3rem;
    }
}
@media screen and (max-width:575px){
    .market{
        padding-top: 97rem;
    }
    .market .col-3 img.one {
        width: 100%;
        height: 30rem;
    }
    .market .col-3 .service span {
        font-size: 1rem;
    }
    .market .col-3 .service img.two {
        width: 40px;
    }
    section {
        padding: 2.5rem 2rem;
    }
}


/* market section end */

/* counter Section start  */



/* counter Section end */
.counter{
    position: relative;
    width: 100%;
    min-height: 50vh;
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    background: #EF1d26;
    z-index: 1;
}
.counter::before {
    content: "";
    position: absolute;
    background-image: url('https://live.themewild.com/motob/assets/img/shape/01.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .15;
    z-index: -1;
}
.counter .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.counter .container img{
    width: 100px;
    height: 100px;
    border-radius: 30%;
    background-color: #fff;
    padding: 0.5rem;
}
.counter .container span.num{
    font-family: 'Poppins',sans-serif;
    padding: 1rem;
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
}
.counter .container span.text{
    font-family: 'Poppins',sans-serif;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
}
.counter .container span.text i{
    padding-right: 0.5rem;
}

/* <!-- arrival section start  --> */
.arrivals{
    text-align: center;
    padding-top: 7rem;
}
section h4{
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 600;
    font-family: 'poppins',sans-serif;
    letter-spacing: 2px;
}
section h4 i{
    padding-right: 0.5rem;
}
section h1{
    font-family: 'poppins',sans-serif;
    padding-bottom: 4rem;
    font-size: 4rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: var(--text-color);
    position: relative;
    padding-bottom: 2.5rem;
    margin-bottom: 6rem;
}
section h1 span{
    font-family: 'poppins',sans-serif;
    color: var(--main-color);
}
section h1::before{
    content: '';
    position: absolute;
    background: #fff;
    border: 4px solid var(--main-color);
    bottom: 0;
    left: 0;
    width: 100px;
    height: 10px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}
section h1::after{
    content: '';
    position: absolute;
    left: 48%;
    transform: translateX(50%);
    bottom: 1.1rem;
    width: 20px;
    height: 10px;
    border-radius: 40px;
    background: #fff;
    animation: animate 2s alternate infinite;
}
@keyframes animate{
    0%{
        left: 45%;
    }
    100%{
        left: 52%;
    }
}
.arrivals .arr-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 1.5rem;
}
.arr-row .arr-col{
    padding: 1rem;
    box-shadow: 0 0 5px #646161;
    background: #ffff;
    border-radius: 10px;
    text-align: justify;
}
.arr-row .arr-col .image{
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.5s ease;
}
.arr-row .arr-col .image img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.arr-row .arr-col .image:hover img{
    transform: scale(1.3);
}
.arr-row .arr-col h5{
    font-size: 1.8rem;
    padding: 1rem 0;
    color: var(--text-color);
}
.arr-row .arr-col .rating{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-bottom: 0.5rem;
}
.arr-row .arr-col .rating .stars i{
    color: var(--main-color);
    font-size: 1.4rem;
}
.arr-row .arr-col .rating .review span{
    font-size: 1.3rem;
    font-weight: 600;
    color: #646161;
}
.arr-col .features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 0.5rem;
    padding-bottom: 0.5rem;
}
.arr-col .features span{
    font-size: 1.4rem;
    color: #646161;
}
.arr-col .features span i{
    color: var(--main-color);
    padding-right: 0.3rem;
}
.arr-col .price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.arr-col .price p{
    color: var(--main-color);
    font-size: 1.8rem;
    font-weight: 600;
}
.arr-col .price button{
    background: var(--main-color);
    padding: 0.8rem 2.8rem;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}
.arr-col .price button:hover{
    background: var(--text-color);
}
.arrivals button.load{
    margin-top: 4rem;
    padding: 1.4rem 3.5rem;
    background: var(--main-color);
    color: #ffff;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s ease;
}
.arrivals button.load i{
    font-size: 1.5rem;
    padding-left: 0.5rem;
}
.arrivals button.load:hover{
    background: var(--text-color);
}

/* body type section start  */

.type{
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background: #fff;
}
.type .type-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 2.5rem;
}
.type-row .type-col{
    width: 100%;
    padding: 2rem;
    background: #f7f2f2;
    border-radius: 12px;
    box-shadow: 0 0 5px #646161;
    transition: 0.4s ease;
    cursor: pointer;
}
.type-row .type-col:hover{
    transform: translateY(-10px);
}
.type-row .type-col img{
    width: 100%;
}
.type-row .type-col h5{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
}
.type-row .type-col:hover h5{
    color: var(--main-color);
}

/* play button section start  */
.play{
    width: 100%;
    min-height: 80vh;
    background: url("https://live.themewild.com/motob/assets/img/video/01.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;
}
.play .play-btn{
    background: #fff;
    color: var(--main-color);
    font-size: 5rem;
    width: 100px;
    height: 100px;
    line-height: 110px;
    position: relative;
    border-radius: 50%;
    text-align: center;
}
.play .play-btn::before,
.play .play-btn::after{
    content: '';
    position: absolute;
    border: 20px solid rgba(255,255,255,0.5);
    border-radius: 50%;
    inset: -20px;
    animation: circle 1s normal infinite;
    opacity: 1;
}
@keyframes circle{
    0%{
        transform: scale(0.5);
    }
    50%{
        opacity: 0.7;
    }
    100%{
        transform: scale(1);
        opacity: 0.5;
    }
    
}

/* dealer section start  */
.dealer{
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
    background: #ffff;
}
.dealer .deal-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 2.5rem;
}
.deal-row .deal-col{
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px #646161;
    padding: 1rem;
    border-radius: 12px;
    position: relative;
    text-align: justify;
    transition: 0.5s ease;
}
.deal-row .deal-col:hover{
    transform: translateY(-10px);
}
.deal-row .deal-col .image{
    background: #f7f2f2;
    border-radius: 12px;
}
.deal-row .deal-col .image img{
    width: 100%;
    border-radius: 12px;
}
.deal-row .deal-col .list{
    position: absolute;
    top: 1rem;
    left: -0.5rem;
    background: var(--main-color);
    color: #fff;
    padding: 0.7rem 1.4rem;
    font-size: 1.3rem;
    border-radius: 40px;
}
.deal-row .deal-col h5{
    padding: 1rem 0;
    font-size: 1.6rem;
}
.deal-row .deal-col p{
    padding-bottom: 1rem;
    color: #646161;
    font-size: 1.3rem;
}
.deal-row .deal-col p i{
    color: var(--main-color);
    padding-right: 0.5rem;
}

/* quality section start  */
.quality{
    width: 100%;
    background: #141622;
}
.quality .qul-row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 0;
}
.quality .qul-row .col-1{
    flex: 1 1 10rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.quality .qul-row .col-1.center{
    padding-top: 6rem;
}
.quality .qul-row .col-2{
    flex: 1 1 30rem;
}
.quality .qul-row .col-2 img{
    width: 100%;
}
.qul-row .col-1 .qul-one{
    border-radius: 12px;
    background-color: #fff;
    padding: 1.6rem;
}
.qul-row .col-1 .qul-one .number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.col-1 .qul-one .number img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.col-1 .qul-one .number h2{
    font-size: 6rem;
    color: var(--main-color);
}
.col-1 .qul-one h5{
    font-size: 1.8rem;
    padding-bottom: 1rem;
    color: var(--text-color);
    font-weight: 600;
}
.col-1 .qul-one p{
    font-size: 1.3rem;
    color: #646161;
}
.qul-row .col-2 h4{
    color: var(--main-color);
    font-size: 2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.qul-row .col-2 h4 i{
    padding-right: 0.5rem;
}
.qul-row .col-2 h3{
    padding-bottom: 4rem;
    font-size: 3.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #fff;
}
.qul-row .col-2 h3 span{
    color: var(--main-color);
}
.qul-row .col-2 p{
    font-size: 1.3rem;
    color: #fff;
    padding-bottom: 3rem;
}
@media screen and (max-width:768px){
    .qul-row .col-2 h3{
        font-size: 2.4rem;
    }
}
/* brand section start  */
.brand{
    text-align: center;
    padding-top: 7rem;
}
.brand .brand-row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 2.5rem;
}
.brand-row .brand-col{
    position: relative;
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0 5px #646161;
    border-radius: 12px;
    transition: 0.5s ease;
}
.brand-row .brand-col:hover{
    transform: translateY(-10px);
}
.brand-row .brand-col img{
    width: 100%;
}
.brand-row .brand-col h5{
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 600;
}

/* client section start  */
.client{
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
}
.client .slide{
    background: #fff;
    box-shadow: 0 0 2px #646161;
    padding: 4rem 1rem 1rem;
    text-align: justify;
    position: relative;
    border-radius: 12px;
}
.client .slide img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0.5rem;
    background: #fff;
    position: absolute;
    top: -4rem;
    border: 4px solid var(--main-color);
    border-top: none;
    border-right: none;
    z-index: 1;
}
.client .slide h5{
    font-size: 1.8rem;
    color: var(--text-color);
}
.client .slide span{
    color: var(--main-color);
    font-size: 1.6rem;
    font-weight: 600;
}
.client .slide p{
    color: var(--text-color);
    padding: 1rem 0;
    font-size: 1.3rem;
}
.client .slide i{
    color: var(--main-color);
    font-size: 2.4rem;
}
.client .myClient{
    padding: 45px 0;
}
.myClient .swiper-pagination-bullet-active{
    background: var(--main-color) !important;
    width: 20px !important;
    border-radius: 10px !important;
}

/* blog section start  */
.blog{
    text-align: center;
    padding-top: 7rem;
    padding-bottom: 3rem;
}
.blog .blog-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
.blog .blog-row .blog-col{
    flex: 1 1 20rem;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px #646161;
    text-align: left;
}
.blog-row .blog-col .image{
    width: 100%;
    border-radius: 20px;
    height: 20rem;
    overflow: hidden;
}
.blog-row .blog-col .image img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    object-fit: cover;
}
.blog-row .blog-col .image:hover img{
    transform: scale(1.2);
}
.blog-col .date{
    padding: 1rem 0 1.5rem;
    border-bottom: 1px solid var(--text-color);
}
.blog-col .date span{
    font-size: 1.5rem;
}
.blog-col .date span:first-child{
    padding-right: 10px;
}
.blog-col .date span i{
    padding-right: 0.5rem;
    color: var(--main-color);
}
.blog-col h4{
    font-size: 1.5rem;
    padding: 1rem 0;
}
.blog-col h4 a{
    color: var(--text-color);
    letter-spacing: 0;
    transition: 0.5s ease;
}
.blog-col h4 a:hover{
    color: var(--main-color);
}
.blog-col .read-btn{
    margin: 1rem 0;
}
.blog-col .read-btn button{
    padding: 1.2rem 1.8rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.5s ease;
    cursor: pointer;
}
.blog-col .read-btn button:hover{
    background: var(--text-color);
    color: var(--main-color);
}
.blog-col .read-btn button i{
    padding-left: 0.5rem;
    font-size: 2rem;
    position: relative;
    top: 4px;
}

/* download section start  */
section h1.motob{
    font-size: 3.8rem;
    margin-bottom: 0;
    padding-bottom: 1rem;
}
section h1.motob::before{
    border: none;
    background: transparent;
}
section h1.motob::after{
    background: transparent;
}
.download{
    background: #fff;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.download .app-row{
    background: #f7f2f2;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    border-radius: 10px;
    padding: 2rem;
    position: relative;
    overflow: hidden;
}
.download .app-row .app-col{
    flex: 1 1 20rem;
    position: relative;
}
.app-row .app-col p.text{
    font-size: 1.4rem;
    color: var(--text-color);
    padding-bottom: 2rem;
}
.app-row .app-col .button{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.app-row .app-col .button a{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 1rem 3rem;
    border-radius: 30px;
    color: #fff;
    background: #fff;
}
.app-row .app-col .button a i{
    font-size: 6rem;
}
.app-row .app-col .button a span{
    color: #fff;
    font-size: 1.3rem;
}
.app-row .app-col .button a p{
    color: #fff;
    font-size: 1.8rem;
}
.app-row .app-col .button a.google-store{
    background: var(--main-color);
    transition: 0.4s ease;
}
.app-row .app-col .button a.google-store:hover{
    background: var(--text-color);
}
.app-row .app-col .button a.app-store{
    background: var(--text-color);
    transition: 0.4s ease;
}
.app-row .app-col .button a.app-store:hover{
    background: var(--main-color);
}
.app-row .app-col img{
    width: 100%;
}
@media screen and (max-width:1200px){
    .app-row{
        flex-direction: column;
    }
}
@media screen and (max-width:631px){
    .app-row .app-col .button a {
        padding: 1rem 1.5rem;
    }
    .app-row .app-col .button a i{
        font-size: 4rem;
    }
    .app-row .app-col .button a p{
        font-size: 1.3rem;
    }
    .app-row .app-col .button a span{
        font-size: 1rem;
    }
}
@media screen and (max-width:400px){
    .app-row .app-col .button a i{
        font-size: 3rem;
    }
    .app-row .app-col .button a p{
        font-size: 1.1rem;
    }
}

/* footer section start  */
.footer{
    background: var(--text-color);
}
.footer .footer-row{
    padding: 2rem 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    gap: 2rem;
}
.footer-row .footer-col img{
    width: 200px;
    margin-bottom: 1rem;
}
.footer-row .footer-col p{
    color: #fff;
    font-size: 1.5rem;
    padding-bottom: 2.5rem;
}
.footer-row .footer-col span{
    display: block;
    color: #fff;
    font-size: 1.6rem;
    padding-bottom: 1rem;
}
.footer-row .footer-col span i{
    background: var(--main-color);
    padding: 0.5rem;
    margin-right: 5px;
    font-size: 18px;
    border-radius: 15px;
}
.footer-row .footer-col h5{
    color: #fff;
    font-size: 1.9rem;
    margin: 1rem 0;
    padding: 0.5rem;
    letter-spacing: 1px;
    position: relative;
}
.footer-row .footer-col h5::before{
    position: absolute;
    content: '';
    bottom: 0;
    width: 100px;
    height: 3px;
    border-radius: 3px;
    background: #fff;
}
.footer-row .footer-col h5::after{
    position: absolute;
    content: '';
    bottom: 0;
    width: 20px;
    height: 3px;
    border-radius: 3px;
    background: var(--main-color);
    left: 40px;
}
.footer-row .footer-col a{
    display: block;
    color: #fff;
    font-size: 1.6rem;
    padding-top: 1rem;
    transition: 0.4s ease;
}
.footer-row .footer-col a:hover{
    padding-left: 5px;
    color: var(--main-color);
}
.footer-row .footer-col input{
    width: 100%;
    height: 40px;
    font-size: 1.4rem;
    padding-left: 10px;
    color: #141622;
    margin-bottom: 1.5rem;
    border-radius: 30px;
}
.footer-row .footer-col button{
    background: var(--main-color);
    padding: 1rem 2rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
    border-radius: 30px;
}
.footer-row .footer-col button:hover{
    background: #fff;
    color: var(--main-color);
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 8rem;
    background: #3a3737;
    position: relative;
    text-align: center;
}
.footer-bottom p{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer-bottom p span{
    color: var(--main-color);
}
.footer-bottom .social{
    position: absolute;
    background: var(--main-color);
    padding: 1.3rem 30rem;
    right: 0;
    bottom: 0;
    clip-path: polygon(8% 0%,100% 0%,100% 100%,5% 100%);
}
.footer-bottom .social i{
    color: var(--main-color);
    background: #fff;
    font-size: 1.6rem;
    margin-left: 20px;
    padding: 1rem;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 15px;
}
.footer-bottom .social i:hover{
   background: var(--text-color);
   color: #fff;
}
    @media screen and (max-width:1390px){
        .footer .footer-bottom .social{
            padding: 1.3rem 17rem;
        }
    }
    @media screen and (max-width:1150px){
        .footer .footer-bottom .social{
            position: inherit;
            background: none;
            padding: 1.3rem 0;
        }
        .footer-bottom{
            flex-direction: column;
        }
    }
    @media screen and (max-width:600px){
        .footer-bottom .social i{
            margin-left: 9px;
        }
        .footer-bottom .social{
            clip-path: none;
        }
    }




    /* inventory grid css  */
    /* inventory section start  */
    .inventory{
        width: 100%;
        min-height: 50vh;
        background: linear-gradient(to bottom, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://live.themewild.com/motob/assets/img/breadcrumb/01.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .inventory h2{
        font-size: 3.5rem;
        color: #fff;
    }
    .inventory .link{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .inventory .link span{
        font-size: 1.5rem;
        color: var(--main-color);
    }
    .inventory .link i{
        font-size: 1.5rem;
        color: #fff;
    }
    .inventory .link a{
        color: #fff;
        font-size: 1.5rem;
    }

    /* show arrivals section start  */
    .arrivals .arr-row.row{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
        gap: 1.5rem;
    }
     .arrivals.show{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
     }
     .arrivals.show .col-1{
        flex: 1 1 2rem;
        width: 200px;
        text-align: justify;
     }
     .arrivals.show .col-1 h5{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
        letter-spacing: 1px;
        position: relative;
        padding-bottom: 0.5rem;
     }
     .arrivals.show .col-1 h5::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 70px;
        height: 3px;
        border-radius: 3px;
        background: var(--main-color);
     }
     .arrivals.show .col-1 .searchBox{
        width: 100%;
        height: 40px;
        position: relative;
     }
     .arrivals.show .col-1 .searchBox .searchbar{
        border: 1px solid var(--text-color);
        width: 100%;
        height: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 1.6rem;
     }
     .arrivals.show .col-2{
        flex: 1 1 60rem;
     }